[Desktop Entry]
Version=1.0
Name=Gmail — Archway
Comment=Gmail — Archway
Exec=omarchy-launch-webapp https://mail.google.com/mail/u/1/
Terminal=false
Type=Application
Icon=gmail
StartupNotify=true
